### Env
backend/.env

### Modules
venv/
frontend/node_modules
backend/public

### Python
__pycache__
*.pyc

### Database
postgres-data
dump.rdb
backend/migrations
### Frontend configuration
frontend/src/services/config.js

### VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

### OS
.DS_Store
frontend/.env
